/* add your CSS here */
.body {
	background-color: grey;

}

.listAnswer {
	font-weight: normal;
}

.inner {
	padding: 10px;
	border: solid 1px;
	width: 340px;
	background-color: white;
}

.list {
  list-style-type: none;
  font-weight: bold;
  margin: 0; padding: 0;

}

.facts {
	border: solid 1px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 300px;
}

.pic {
	width: 300px;
	height: 300px;
	margin: auto;
	display: block;
	padding: 10px;
}

